// 常用值
$primary-color: #fcee09;
$m-height: 3.25rem;
$border-color: #02d7f2;

// 工具类
.justify-content-center {
  justify-content: center !important;
}

.order-2 {
  order: 2 !important;
}

// 淡入动画
.render-page,
.show-back-to-top {
  opacity: 1 !important;
  // 硬件加速
  transform: translateY(0) !important;
}

.transition-opacity {
  transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s;
  opacity: 0;
}

// tabBar
.tab-bar {
  background: $primary-color;
  min-height: $m-height;
  position: relative;
  z-index: 30;
  padding-top: 10px;
  padding-bottom: 30px;
  opacity: 1;

  .tab-bar-menu {
    display: flex;
    color: #000;

    // 激活状态
    .tab-bar-menu-item.is-active {
      color: $primary-color;
      background: #000;
    }

    .tab-bar-menu-item {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding: 0 0.5rem;
      margin: 1.25rem 0.25rem;
    }

    .tab-bar-icon {
      width: 1rem;
      height: 1rem;
      margin-right: 0.15rem;
    }
  }

  .tab-bar-brand {
    flex-basis: 100%;
    height: 100%;
    display: flex;

    .logo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
}

// 尾部装饰
.tab-bar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  background: url(./assets/img/razor-top-black.svg) repeat-x top;
  height: 40px;
}

// section
.section {
  flex-grow: 1;
  padding: 1.5rem 1rem;

  .container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;

    .columns:last-child {
      margin-bottom: -0.75rem;
    }

    .columns {
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      margin-top: -0.75rem;

      .column {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.75rem;

        .card {
          overflow: visible;
          border-radius: 0;
          background-color: transparent;
          box-shadow: none, 0 0 1px rgba(0, 0, 0, 0.1);
          color: #cdcdcd;
          max-width: 100%;
          position: relative;
          counter-increment: card;

          .card-content {
            position: relative;
            background-color: transparent;
            padding: 1.5rem;
            z-index: 1;

            .content-meta {
              overflow-x: auto;
              margin-bottom: 0.5rem;
              color: #848484;
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-transform: uppercase !important;
              font-size: 0.75rem !important;
              flex-basis: auto;
              flex-grow: 0;
              flex-shrink: 0;
            }

            .content-meta-item {
              align-items: center;
              display: flex;
              flex-basis: auto;
              flex-grow: 1;
              flex-shrink: 0;
              justify-content: center;
              margin-bottom: 0;
              margin-right: 0.75rem;
            }

            .content-meta-item:last-child {
              margin-right: 0;
            }
          }

          .card-content:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: #000;
            clip-path: polygon(
              0 0,
              calc(100% - 16px) 0,
              100% 16px,
              100% 100%,
              16px 100%,
              0 calc(100% - 16px),
              0 0
            );
            -webkit-clip-path: polygon(
              0 0,
              calc(100% - 16px) 0,
              100% 16px,
              100% 100%,
              16px 100%,
              0 calc(100% - 16px),
              0 0
            );
          }
        }

        .card::after {
          content: "❣️R" counter(card);
          position: absolute;
          color: #02d7f2;
          right: 2rem;
          bottom: -0.6em;
          font-size: 0.75rem;
          padding: 0 0.25em;
          background: #000;
          z-index: 2;
        }

        .card::before {
          content: "";
          position: absolute;
          top: -0.6px;
          left: -0.6px;
          right: -0.6px;
          bottom: -0.6px;
          background-color: #02d7f2;
          clip-path: polygon(
            0 0,
            calc(100% - 16px) 0,
            100% 16px,
            100% 100%,
            16px 100%,
            0 calc(100% - 16px),
            0 0
          );
          -webkit-clip-path: polygon(
            0 0,
            calc(100% - 16px) 0,
            100% 16px,
            100% 100%,
            16px 100%,
            0 calc(100% - 16px),
            0 0
          );
        }
      }
    }
  }
}

.card-content {
  .notification.is-danger,
  .button.is-danger::before {
    background-color: #ff003c;
    color: #121617;
  }

  .notification {
    background-color: #f5f5f5;
    border-radius: 0;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;

    .code {
      background: #000;
    }
  }

  .motto,
  .location {
    font-size: 1rem;
  }

  .location {
    margin-bottom: 1.5rem;
  }

  .username {
    color: $primary-color;
    font-weight: 400;
    line-height: inherit;
    margin-bottom: 0;
    word-break: break-word;
    font-size: 1.5rem !important;
  }

  .level {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;

    .heading {
      display: block;
      font-size: 11px;
      letter-spacing: 1px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    .title {
      color: $primary-color;
      font-weight: 400;
      line-height: 1.125;
      font-size: 2em;
    }
  }

  .level-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: 0 5px;
  }

  .avatar {
    border-radius: 100%;
    width: 128px;
    height: 128px;
    overflow: hidden;
    margin: 0 auto 0.5rem;
  }
}

.footer {
  position: relative;
  background-color: $primary-color;
  padding: 3rem 1.5rem 6rem;
  color: #000;
  text-align: center;

  .contanier {
    padding-top: 40px;
    transition: 0.3s padding-bottom ease;
  }
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  height: 39px;
  background: url(./assets/img/razor-bottom-black.svg) repeat-x top;
}

.back-to-top {
  position: fixed;
  transform: translateY(120px);
  opacity: 0;
  outline: none;
  padding: 8px 0;
  line-height: 24px;
  border-radius: 0;
  transition: 0.4s ease opacity, 0.4s ease width, 0.4s ease transform,
    0.4s ease border-radius;
  width: 64px;
  bottom: 20px;
  right: 20px;
  background: #02d7f2;
  clip-path: polygon(
    8px 0,
    100% 0,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    0 100%,
    0 8px
  );
}

.getUserInfoBtn {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}

// 个性签名

.motto {
  display: flex;
  align-items: center;
  justify-content: center;

  .motto-input {
    width: 118px;
    border: 1px solid $border-color;
  }

  .edit-msg,
  .show-msg {
    display: flex;
    align-items: center;
  }
}

.edit-motto,
.done-motto {
  width: 20px;
  height: 20px;
  padding-left: 5px;
  flex-shrink: 0;
}

.done-motto {
  width: 25px;
  height: 25px;
}

// setting
.setting.title {
  color: $primary-color;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.form-area {
  .filed-area {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    align-items: stretch;
  }

  .label {
    display: flex;
    flex-grow: 0;
    flex-basis: 20%;
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px;
    border-right: 0;
  }

  .filed-input {
    padding-top: calc(0.375em - 2rpx);
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #000;
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    color: #cdcdcd;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 2.25em;
    box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.05);
    text-align: left;
    height: auto;
  }
}

// 工具
.tools {
  border-radius: 0;
  padding: 0 2.5rem 2.25rem 2.5rem;
  position: relative;
}

// dialog
.dialog {
  padding: 0;
  max-width: none;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  border: 1px solid #02d7f2;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  z-index: 9999;
  transition: opacity 1s ease;
  opacity: 1;
  border-radius: 0 !important;
  color: #cdcdcd !important;
  background-color: #000 !important;
  font-size: 1.1rem !important;
  font-family: "Oxanium", Ubuntu, Roboto, "Open Sans", "Microsoft YaHei",
    sans-serif !important;

  .message {
    margin: 2em;
    margin-bottom: 1.5em;
    font-style: inherit;
    font-weight: inherit;
  }

  .compliance {
    flex: 1 0 auto;
    align-items: center;
    align-content: space-between;
    font-weight: 400;
    border: none;
    color: #121617;
    background-color: #fcee09;
    padding: 0.4em 0.8em;
    font-size: 0.9em;
    text-align: center;
  }
}

.dialog-padding-bottom {
  padding-bottom: 148px;
}

.jianji-edit {
  min-height: 150px;
}

.section .container .columns .jianjika .card::after {
  content: "✏️记录";
  position: absolute;
  color: #02d7f2;
  right: 2rem;
  bottom: -0.6em;
  font-size: 0.75rem;
  padding: 0 0.25em;
  background: #000;
  z-index: 2;
}

.tools-bar {
  display: flex;
  justify-content: flex-end;

  .tools-bar-icon {
    width: 25px;
    height: 25px;
    margin-right: 2px;
  }

  .tools-bar-item {
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
}
